
body{
	line-height: 1.95;
}
a{
	&:hover{
		text-decoration: 	none;
	}
}
// section padding
.section-padding{
	padding: $section-padding;
}

// primary button
.primary-btn{
	background-color: $secondary-color;
	color: #fff;
	transition: 0.2s;
	margin: 10px 0;
	&:hover, &:focus{
		background-color: $primary-color;
		color: #fff;
		border: 1px solid $secondary-color;
	}
}