// heading title
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
	line-height: 1.95;
}
a{
	&:hover{
		text-decoration: 	none;
	}
}
// section padding
.section-padding{
	padding: $section-padding;
}

// primary button
.primary-btn{
	background-color: $secondary-color;
	color: #fff;
	transition: 0.2s;
	margin: 10px 0;
	&:hover, &:focus{
		background-color: $primary-color;
		color: #fff;
		border: 1px solid $secondary-color;
	}
}

// heading-title
.heading{
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	hr{
		background: linear-gradient(to right, $primary-color, $secondary-color, $primary-color);
		height: 1px;
		margin: 10px auto;
		width: 200px;
	}
}