.gallery{
  .container .row ul{
    list-style: none;
    li a img{
    width: 100%;
    margin: 10px 0;
    }
  }
}

@media screen and (max-width: 650px){
  .pp_expand{
    display: none!important;
  }
}
