.banner-image{
  background: url(../images/delhi.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  .focus-txt {
    transform: translateY(25vh);
    h1,small{
      color: #fff;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.59);
      font-size: 2.3em;
    }
  }
}

.about-place{
  h1{
    color: $primary-color;
  }
}
