@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Quattrocento:700");
/* line 6, ../sass/base/_base.scss */
body {
  line-height: 1.95;
  font-family: 'Quattrocento', serif;
}

/* line 11, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 16, ../sass/base/_base.scss */
.section-padding {
  padding: 40px 0;
}

/* line 21, ../sass/base/_base.scss */
.primary-btn {
  background-color: #ffc107;
  color: #00224f;
  font-weight: bold;
  transition: 0.2s;
  margin: 10px 0;
  border-radius: 0;
}
/* line 28, ../sass/base/_base.scss */
.primary-btn:hover, .primary-btn:focus {
  background-color: #00224f;
  color: #ffc107;
  border: 1px solid #ffc107;
}

/* line 36, ../sass/base/_base.scss */
.heading {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}
/* line 39, ../sass/base/_base.scss */
.heading hr {
  background: linear-gradient(to right, #00224f, #ffc107, #00224f);
  height: 1px;
  margin: 10px auto;
  width: 200px;
}

/* line 1, ../sass/module/_header.scss */
header {
  background-color: #00224f;
  color: #fff;
  border-top: 2px solid #ffc107;
  padding: 20px 0;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}
/* line 7, ../sass/module/_header.scss */
header .top-left-content {
  font-style: italic;
}
/* line 9, ../sass/module/_header.scss */
header .top-left-content a i {
  padding-right: 10px;
}
/* line 13, ../sass/module/_header.scss */
header a {
  color: #fff;
}
/* line 15, ../sass/module/_header.scss */
header a:hover, header a:focus {
  color: #ffc107;
  text-decoration: none;
}
/* line 20, ../sass/module/_header.scss */
header .top-right-content {
  text-align: right;
}
/* line 22, ../sass/module/_header.scss */
header .top-right-content .dropdown {
  padding-right: 15px;
}
/* line 25, ../sass/module/_header.scss */
header .top-right-content .dropdown-toggle {
  cursor: pointer;
}
/* line 27, ../sass/module/_header.scss */
header .top-right-content .dropdown-toggle:hover {
  color: #ffc107;
}
/* line 31, ../sass/module/_header.scss */
header .top-right-content .dropdown-menu {
  background-color: #00224f;
}
/* line 33, ../sass/module/_header.scss */
header .top-right-content .dropdown-menu li a {
  color: #fff;
}
/* line 35, ../sass/module/_header.scss */
header .top-right-content .dropdown-menu li a:hover {
  color: #00224f;
  background-color: #ffc107;
}

/* line 44, ../sass/module/_header.scss */
.navbar-brand {
  padding: 0px;
}
/* line 46, ../sass/module/_header.scss */
.navbar-brand img {
  width: 215px;
}

/* line 51, ../sass/module/_header.scss */
.navbar-inverse .navbar-toggle:hover {
  background-color: #c1c1c1;
}
/* line 54, ../sass/module/_header.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #00224f;
}

@media only screen and (max-width: 750px) {
  /* line 61, ../sass/module/_header.scss */
  header .top-left-content a i {
    display: none;
  }
  /* line 64, ../sass/module/_header.scss */
  header .top-left-content div:nth-child(3) {
    display: none;
  }
  /* line 68, ../sass/module/_header.scss */
  header .top-right-content {
    text-align: left;
  }
}
@media only screen and (max-width: 1050px) {
  /* line 75, ../sass/module/_header.scss */
  header {
    text-align: center;
  }
  /* line 77, ../sass/module/_header.scss */
  header .top-right-content {
    text-align: center;
  }
}
/* line 84, ../sass/module/_header.scss */
.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/gbbig.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}
/* line 90, ../sass/module/_header.scss */
.hero-image .booking-engine {
  transform: translateY(25vh);
}
/* line 92, ../sass/module/_header.scss */
.hero-image .booking-engine h3 {
  color: #fff;
}
/* line 95, ../sass/module/_header.scss */
.hero-image .booking-engine .booking-headings {
  background: rgba(0, 34, 79, 0.6);
}
/* line 97, ../sass/module/_header.scss */
.hero-image .booking-engine .booking-headings .heading-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  overflow-x: scroll;
  white-space: nowrap;
}
/* line 103, ../sass/module/_header.scss */
.hero-image .booking-engine .booking-headings .heading-list::-webkit-scrollbar {
  display: none;
}
/* line 106, ../sass/module/_header.scss */
.hero-image .booking-engine .booking-headings .heading-list li {
  display: inline;
  padding-right: 10px;
}
/* line 109, ../sass/module/_header.scss */
.hero-image .booking-engine .booking-headings .heading-list li a {
  color: #fff;
  padding: 15px;
  transition: .3s ease;
}
/* line 113, ../sass/module/_header.scss */
.hero-image .booking-engine .booking-headings .heading-list li a:hover {
  color: #00224f;
  background: #fff;
}
/* line 117, ../sass/module/_header.scss */
.hero-image .booking-engine .booking-headings .heading-list li a:active {
  color: #00224f;
  background: #fff;
}
/* line 125, ../sass/module/_header.scss */
.hero-image .booking-engine .filter-result {
  padding: 0px;
}
/* line 127, ../sass/module/_header.scss */
.hero-image .booking-engine .filter-result input[type="date"]::before {
  color: #999999;
  content: attr(placeholder);
}
/* line 131, ../sass/module/_header.scss */
.hero-image .booking-engine .filter-result input[type="date"] {
  color: #ffffff;
}
/* line 134, ../sass/module/_header.scss */
.hero-image .booking-engine .filter-result input[type="date"]:focus,
.hero-image .booking-engine .filter-result input[type="date"]:valid {
  color: #666666;
}
/* line 138, ../sass/module/_header.scss */
.hero-image .booking-engine .filter-result input[type="date"]:focus::before,
.hero-image .booking-engine .filter-result input[type="date"]:valid::before {
  content: "" !important;
}
/* line 142, ../sass/module/_header.scss */
.hero-image .booking-engine .filter-result button {
  background: url("http://www.traveliteindia.com/images/floral-background.jpg");
  color: white;
  border: 0px;
  border-radius: 0px;
  outline: 0px;
  padding: 4px 15px;
  transition: all 0.3s ease 0s;
}
/* line 150, ../sass/module/_header.scss */
.hero-image .booking-engine .filter-result button:hover {
  box-shadow: 2px 2px 5px 0px #000;
}
/* line 153, ../sass/module/_header.scss */
.hero-image .booking-engine .filter-result button:active {
  transform: scale(0.9);
}

/* line 160, ../sass/module/_header.scss */
.form-control {
  border-radius: 0;
}

@media screen and (min-width: 767px) {
  /* line 166, ../sass/module/_header.scss */
  .hero-image .booking-engine .booking-headings {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  /* line 170, ../sass/module/_header.scss */
  .hero-image .booking-engine .filter-result button {
    border-bottom-right-radius: 10px;
  }
  /* line 173, ../sass/module/_header.scss */
  .hero-image .booking-engine .bblr {
    border-bottom-left-radius: 10px;
  }

  /* line 177, ../sass/module/_header.scss */
  .nav__submenu {
    margin-top: 3px;
  }
}
@media screen and (max-width: 767px) {
  /* line 184, ../sass/module/_header.scss */
  .hero-image .booking-engine {
    transform: translateY(4vh);
    padding: 5px;
  }
  /* line 187, ../sass/module/_header.scss */
  .hero-image .booking-engine h3 {
    margin: 2px;
  }
  /* line 190, ../sass/module/_header.scss */
  .hero-image .booking-engine .filter-result {
    margin-bottom: 5px;
    padding: 4px 15px 0px 15px;
  }
}
/* line 1, ../sass/module/_nav.scss */
.navbar {
  border: none;
  border-bottom: 1px solid #00224f;
  border-radius: 0px;
  background: #fff;
  margin-bottom: 0px;
}
/* line 7, ../sass/module/_nav.scss */
.navbar li:not([class="submenu-heading"])::after {
  content: '';
  display: block;
  height: 3px;
  position: relative;
  margin: auto;
  width: 0;
  background: transparent;
  transition: .3s ease;
}
/* line 17, ../sass/module/_nav.scss */
.navbar li:hover::after {
  background: #ffc107;
  width: 100%;
}
/* line 21, ../sass/module/_nav.scss */
.navbar .navbar-nav > li > a {
  color: #00224f;
}
/* line 23, ../sass/module/_nav.scss */
.navbar .navbar-nav > li > a:hover {
  color: #000;
}
/* line 26, ../sass/module/_nav.scss */
.navbar .navbar-nav > li > a:focus {
  color: #000;
}
/* line 31, ../sass/module/_nav.scss */
.navbar .show-menu:hover .nav__submenu {
  opacity: 1;
  z-index: 999;
}
/* line 35, ../sass/module/_nav.scss */
.navbar .show-menu .nav__submenu {
  transition: opacity 0.2s ease-out, z-index 0s ease-in-out;
  opacity: 0;
  padding: 20px;
  z-index: -1;
  position: absolute;
  left: 0px;
  background: #fff;
  box-shadow: 0px 0px 2px #000;
  color: #000;
  border-bottom: 3px solid #00224f;
  white-space: nowrap;
}
/* line 48, ../sass/module/_nav.scss */
.navbar .show-menu .nav__submenu .nav__submenu-item {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  padding-left: 5px;
  display: inline-grid;
}
/* line 54, ../sass/module/_nav.scss */
.navbar .show-menu .nav__submenu .nav__submenu-item .submenu-heading {
  font-size: 1.2em;
  text-decoration: underline;
}
/* line 60, ../sass/module/_nav.scss */
.navbar .show-menu .md--left {
  left: -200px;
}
/* line 63, ../sass/module/_nav.scss */
.navbar .show-menu a {
  color: #000;
  transition: all .2s ease-in-out;
}
/* line 66, ../sass/module/_nav.scss */
.navbar .show-menu a:hover {
  text-decoration: none;
  color: #00224f;
}

@media screen and (max-width: 767px) {
  /* line 76, ../sass/module/_nav.scss */
  .navbar .show-menu:hover .nav__submenu {
    color: red;
  }
  /* line 79, ../sass/module/_nav.scss */
  .navbar .show-menu .nav__submenu {
    box-shadow: none;
    border-bottom: none;
    opacity: 1;
    z-index: 1;
    display: none;
    position: static;
    left: 0;
    padding: 0px 0px 0px 25px;
  }
  /* line 88, ../sass/module/_nav.scss */
  .navbar .show-menu .nav__submenu .nav__submenu-item {
    display: block;
    padding-bottom: 7px;
  }
  /* line 91, ../sass/module/_nav.scss */
  .navbar .show-menu .nav__submenu .nav__submenu-item:last-child {
    padding-bottom: 0px;
  }
  /* line 94, ../sass/module/_nav.scss */
  .navbar .show-menu .nav__submenu .nav__submenu-item .submenu-heading {
    font-weight: bold;
    font-size: 1em;
  }
}
/* line 2, ../sass/module/_destination.scss */
.owl-carousel .item {
  background-color: #fff;
}
/* line 4, ../sass/module/_destination.scss */
.owl-carousel .item h4 {
  color: #00224f;
  margin-top: 15px;
  font-weight: bold;
}
/* line 9, ../sass/module/_destination.scss */
.owl-carousel .item h5 {
  color: #00224f;
  padding-bottom: 25px;
}

/* line 16, ../sass/module/_destination.scss */
.customNavigation .btn-carousel {
  background-color: #00224f;
  color: #ffc107;
}
/* line 19, ../sass/module/_destination.scss */
.customNavigation .btn-carousel:hover {
  background-color: #00224f;
  color: #ffc107;
  opacity: 0.9;
}

/* line 2, ../sass/module/_hotDeals.scss */
.hot_deals .hd-item {
  border: 1px solid #c0c0c0;
  margin: 20px 0;
  transition: 0.2s;
}
/* line 6, ../sass/module/_hotDeals.scss */
.hot_deals .hd-item:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 2, 34, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 2, 34, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 2, 34, 0.5);
  transform: scale(1.05);
}
/* line 12, ../sass/module/_hotDeals.scss */
.hot_deals .hd-item hr {
  background-color: #c0c0c0;
  height: 1px;
}
/* line 16, ../sass/module/_hotDeals.scss */
.hot_deals .hd-item .rate {
  font-weight: bold;
  font-size: 15px;
}
/* line 20, ../sass/module/_hotDeals.scss */
.hot_deals .hd-item .rate-new {
  color: green;
}
/* line 23, ../sass/module/_hotDeals.scss */
.hot_deals .hd-item .rate-old {
  color: red;
  padding-left: 5px;
  font-size: 12px;
}
/* line 28, ../sass/module/_hotDeals.scss */
.hot_deals .hd-item .primary-btn {
  margin: 0;
}
/* line 31, ../sass/module/_hotDeals.scss */
.hot_deals .hd-item .hd-content {
  padding: 0 20px 20px 20px;
}

/* line 1, ../sass/module/_footer.scss */
.ourfamily {
  padding: 10px 0;
  background-color: #f5f6f8;
  border-top: 1px solid #e3e6ea;
  border-bottom: 1px solid #e3e6ea;
}
/* line 6, ../sass/module/_footer.scss */
.ourfamily img {
  width: 10%;
  padding: 0 10px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/* line 13, ../sass/module/_footer.scss */
.ourfamily img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
}

/* line 22, ../sass/module/_footer.scss */
footer {
  background-image: url("http://www.traveliteindia.com/images/floral-background.jpg");
  color: #e9e9e9;
}
/* line 27, ../sass/module/_footer.scss */
footer .footer--address p {
  padding: 20px 0;
}
/* line 31, ../sass/module/_footer.scss */
footer .footer--address .social-media a i {
  color: #e9e9e9;
}
/* line 34, ../sass/module/_footer.scss */
footer .footer--address .social-media .social:hover {
  color: #ffc107;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* line 40, ../sass/module/_footer.scss */
footer .footer--address .social-media .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/* line 52, ../sass/module/_footer.scss */
footer .footer--detail ul {
  display: inline;
  list-style-type: none;
}
/* line 56, ../sass/module/_footer.scss */
footer .footer--detail ul li a {
  color: #e9e9e9;
}
/* line 58, ../sass/module/_footer.scss */
footer .footer--detail ul li a:hover {
  color: #ffc107;
}
/* line 60, ../sass/module/_footer.scss */
footer .footer--detail ul li a:hover i {
  padding-right: 15px;
}
/* line 64, ../sass/module/_footer.scss */
footer .footer--detail ul li a i {
  padding-right: 10px;
  transition: 0.2s;
}

/* line 75, ../sass/module/_footer.scss */
.copyright {
  text-align: center;
  background-color: #00224f;
  color: #fff;
  border-top: 1px solid #ffc107;
}
/* line 80, ../sass/module/_footer.scss */
.copyright h4 {
  margin: 0;
  padding: 20px 0;
}

/* line 1, ../sass/module/_gotop.scss */
.luncher {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #ffc107;
  border-radius: 50%;
  background-color: rgba(0, 34, 79, 0.8);
  position: fixed;
  bottom: 20px;
  vertical-align: middle;
  text-align: center;
  right: 20px;
  transition: 0.3s;
}
/* line 14, ../sass/module/_gotop.scss */
.luncher:hover {
  border-color: rgba(0, 34, 79, 0.8);
  background-color: #ffc107;
}
/* line 18, ../sass/module/_gotop.scss */
.luncher:active {
  transform: translateY(5px);
  box-shadow: 0px 5px 8px #999;
}
/* line 22, ../sass/module/_gotop.scss */
.luncher .fa {
  color: #fff;
  padding-top: 15px;
}

/* Position the image container (needed to position the left and right arrows) */
/* Hide the images by default */
/* line 6, ../sass/module/pages/_hotdealsDetail.scss */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
/* line 11, ../sass/module/pages/_hotdealsDetail.scss */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/* line 16, ../sass/module/pages/_hotdealsDetail.scss */
.prev-left,
.next-right {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
/* line 33, ../sass/module/pages/_hotdealsDetail.scss */
.next-right {
  right: 16px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 39, ../sass/module/pages/_hotdealsDetail.scss */
.prev-left:hover,
.next-right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
/* line 45, ../sass/module/pages/_hotdealsDetail.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
/* line 54, ../sass/module/pages/_hotdealsDetail.scss */
.caption-container {
  text-align: center;
  background-color: #00224f;
  padding: 2px 16px;
  color: white;
}

/* line 61, ../sass/module/pages/_hotdealsDetail.scss */
.thumbnail-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
/* line 68, ../sass/module/pages/_hotdealsDetail.scss */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
/* line 74, ../sass/module/pages/_hotdealsDetail.scss */
.demo {
  opacity: 0.6;
}

/* line 78, ../sass/module/pages/_hotdealsDetail.scss */
.active,
.demo:hover {
  opacity: 1;
}

/* line 85, ../sass/module/pages/_hotdealsDetail.scss */
.facilities hr {
  background-color: #ffc107;
  height: 1px;
}
/* line 89, ../sass/module/pages/_hotdealsDetail.scss */
.facilities--items {
  text-align: center;
  transition: 0.2s;
  padding: 5px 0;
}
/* line 93, ../sass/module/pages/_hotdealsDetail.scss */
.facilities--items i {
  font-size: 100px;
}
/* line 96, ../sass/module/pages/_hotdealsDetail.scss */
.facilities--items span {
  font-size: 20px;
}
/* line 99, ../sass/module/pages/_hotdealsDetail.scss */
.facilities--items:hover {
  color: #ffc107;
}

/* line 1, ../sass/module/pages/_peopleMayLike.scss */
.peopleMayLike {
  background-color: #c0c0c0;
}
/* line 3, ../sass/module/pages/_peopleMayLike.scss */
.peopleMayLike--title {
  padding-bottom: 15px;
}
/* line 6, ../sass/module/pages/_peopleMayLike.scss */
.peopleMayLike--item {
  color: #fff;
  padding: 10px;
}
/* line 9, ../sass/module/pages/_peopleMayLike.scss */
.peopleMayLike--item__content {
  padding: 10px;
  background: url(https://www.walldevil.com/wallpapers/w03/025271-abstract-background-gaussian-blur.jpg);
}

/* line 2, ../sass/module/pages/_contact.scss */
.contact hr {
  background-color: #ffc107;
  height: 2px;
}
