/* line 1, ../sass/module/_header.scss */
header {
  background-color: #00224f;
  color: #fff;
  border-top: 2px solid #ffc107;
  padding: 20px 0;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}
/* line 7, ../sass/module/_header.scss */
header .top-left-content {
  font-style: italic;
}
/* line 9, ../sass/module/_header.scss */
header .top-left-content a i {
  padding-right: 10px;
}
/* line 13, ../sass/module/_header.scss */
header a {
  color: #fff;
}
/* line 15, ../sass/module/_header.scss */
header a:hover, header a:focus {
  color: #ffc107;
  text-decoration: none;
}
/* line 21, ../sass/module/_header.scss */
header .top-right-content .dropdown-toggle {
  cursor: pointer;
}
/* line 23, ../sass/module/_header.scss */
header .top-right-content .dropdown-toggle:hover {
  color: #ffc107;
}
/* line 27, ../sass/module/_header.scss */
header .top-right-content .dropdown-menu {
  background-color: #00224f;
}
/* line 29, ../sass/module/_header.scss */
header .top-right-content .dropdown-menu li a {
  color: #fff;
}
/* line 31, ../sass/module/_header.scss */
header .top-right-content .dropdown-menu li a:hover {
  color: #00224f;
  background-color: #ffc107;
}

/* line 1, ../sass/module/_footer.scss */
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
/* line 5, ../sass/module/_footer.scss */
footer .ourfamily {
  padding: 10px 0;
  background-color: #f5f6f8;
  border-top: 1px solid #e3e6ea;
  border-bottom: 1px solid #e3e6ea;
}
/* line 10, ../sass/module/_footer.scss */
footer .ourfamily img {
  width: 10%;
  padding: 0 10px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/* line 16, ../sass/module/_footer.scss */
footer .ourfamily img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
}
