.owl-carousel{
	.item{
		background-color: #fff;
		h4{
			color: $primary-color;
			margin-top: 15px;
			font-weight: bold;
		}
		h5{
			color: $primary-color;
			padding-bottom: 25px;
		}
	}
}

.customNavigation .btn-carousel{
	background-color: $primary-color;
	color: $secondary-color;
	&:hover{
		background-color: $primary-color;
		color: $secondary-color;
		opacity: 0.9;
	}
}