footer{
	bottom: 0;
	position: absolute;
	width: 100%;
	.ourfamily{
		padding: 10px 0;
		background-color: #f5f6f8;
		border-top: 1px solid #e3e6ea;
		border-bottom: 1px solid #e3e6ea;
		img{
			width: 10%;
			padding: 0 10px;
			opacity: 	0.5;
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    &:hover{
    	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 	1;
    }
		}
	}
}