header{
	background-color: $primary-color;
	color: #fff;
	border-top: 2px solid $secondary-color;
	padding: 20px 0;
	background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
	.top-left-content{
		font-style: italic;
		a i{
			padding-right: 10px;
		}
	}
	a{
		color: #fff;
		&:hover, &:focus{
			color: $secondary-color;
			text-decoration: none;
		}
	}
	.top-right-content{
		.dropdown-toggle{
			cursor: pointer;
			&:hover{
				color: $secondary-color;
			}
		}
		.dropdown-menu{
			background-color: $primary-color;
			li a{
				color: #fff;
					&:hover{
						color: $primary-color;
						background-color: $secondary-color;
					}
			}
		}
	}
}
.navbar{
	border: none;
	border-bottom: 1px solid $primary-color;
	border-radius: 0px;
	background: #fff;
	li::after{
		content: '';
		display: block;
		height: 3px;
		position: relative;
		margin: auto;
		width: 0;
		background: transparent;
		transition: .3s ease;
	}
	li:hover::after{
		background: $secondary-color;
		width: 100%;
	}
	.navbar-nav>li>a{
		color: $primary-color;
		&:hover{
			color: #000;
		}
	}
	.show-menu{
		&:hover .nav__submenu{
			opacity: 1;
			transform: translateY(2px);
			z-index: auto;
		}
		.nav__submenu{
			transition: transform 0.1s ease-in-out,
									opacity 0.2s ease-out,
									z-index 0s ease-in-out;
			opacity: 0;
			transform: translateY(-100px);
			padding: 20px;
			z-index: -1;
			position: absolute;
			background: #fff;
			box-shadow: 0px 0px 2px #000;
			color: #000;
			border-bottom: 3px solid $primary-color;
			white-space: nowrap;
			.nav__submenu-item{
				list-style: none;
				text-decoration: none;
				cursor: pointer;
			}
		}
		a{
			color: #000;
			transition: all .2s ease-in-out;
			&:hover{
				text-decoration: none;
				color: $primary-color;
			}
		}
	}
}
