header{
	background-color: $primary-color;
	color: #fff;
	border-top: 2px solid $secondary-color;
	padding: 20px 0;
	background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
	.top-left-content{
		font-style: italic;
		a i{
			padding-right: 10px;
		}
	}
	a{
		color: #fff;
		&:hover, &:focus{
			color: $secondary-color;
			text-decoration: none;
		}
	}
	.top-right-content{
		text-align: right;
		.dropdown{
			padding-right: 15px;
		}
		.dropdown-toggle{
			cursor: pointer;
			&:hover{
				color: $secondary-color;
			}
		}
		.dropdown-menu{
			background-color: $primary-color;
			li a{
				color: #fff;
					&:hover{
						color: $primary-color;
						background-color: $secondary-color;
					}
			}
		}
	}
}
//extra for demo
.navbar-brand{
	padding: 0px;
	img{
		width: 215px;
	}
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color: $primary-color;
}
@media only screen and (max-width: 750px) {
	header{
		.top-left-content{
			a i{
					display: none;
				}
			div:nth-child(3) {
				display: none;
			}
		}
		.top-right-content{
			text-align: left;
		}
	}
}

@media only screen and (max-width: 1050px) {
	header{
		text-align: center;
		.top-right-content{
			text-align: center;
		}
	}
}
// ------------------ end top bar ---------------------- //

.hero-image{
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
	            url(../images/gbbig.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 70vh;
	.booking-engine{
		transform: translateY(25vh);
		h3{
			color: #fff;
		}
		.booking-headings{
			background: rgba(0, 34, 79, 0.6);
			.heading-list{
				list-style-type: none;
				padding: 10px;
				margin: 0;
				overflow-x: scroll;
				white-space: nowrap;
				&::-webkit-scrollbar{
					display: none;
				}
				li{
					display: inline;
					padding-right: 10px;
					a{
						color: #fff;
						padding: 15px;
						transition: .3s ease;
						&:hover{
							color: $primary-color;
							background: #fff;
						}
					}
				}
			}
		}
		.filter-result{
			padding: 0px;
			button{
				background: url("http://www.traveliteindia.com/images/floral-background.jpg");
				color: white;
				border: 0px;
				border-radius: 0px;
				outline: 0px;
				padding: 4px 15px;
			  transition: all 0.3s ease 0s;
				&:hover{
			  	box-shadow: 2px 2px 5px 0px #000;
				}
				&:active{
					transform: scale(0.9);
				}
			}
		}
	}
}
.form-control{
	border-radius: 0;
}

@media screen and (min-width: 767px){
	.hero-image .booking-engine{
	.booking-headings{
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.filter-result button{
		border-bottom-right-radius: 10px;
	}
	.bblr{
		border-bottom-left-radius: 10px;

	}
}
}

@media screen and (max-width: 767px){
	.hero-image{
		height: 100vh;
		.booking-engine{
			transform: translateY(0vh);
			padding: 5px;
			h3{
				margin: 0px;
			}
			.filter-result{
				margin-bottom: 5px;
				padding: 2px 15px 0px 15px;
			}
		}
	}
}
