.hot_deals{
	.hd-item{
		border: 1px solid #c0c0c0;
		margin: 20px 0;
		transition: 0.2s;
		&:hover{
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0,2,34,0.5);
			-moz-box-shadow: 0px 0px 20px 0px rgba(0,2,34,0.5);
			box-shadow: 0px 0px 20px 0px rgba(0,2,34,0.5);
			transform: scale(1.05);
		}
		hr{
			background-color: #c0c0c0;
			height: 1px;
		}
		.rate{
			font-weight: bold;
			font-size: 15px;
		}
		.rate-new{
			color: green;
		}
		.rate-old{
				color: red;
				padding-left: 5px;
				font-size: 12px;
			}
		.primary-btn{
			margin: 0;
		}
		.hd-content{
			padding: 0 20px 20px 20px;
		}
	}
}